
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}
  
.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}
  
.sidebar a.active {
    background-color: #04AA6D;
    color: white;
}
  
.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}
  
div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

.copy-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #052F5F;
    gap: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.para-lu {
    color: #A0CA92;
    text-align: center;
    font-size: 11px;
}

.para-copy {
    color: #FFFFFF;
    font-size: 11px;
}
