.copy-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #052F5F;
    gap: 25px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 5px 5px 5px lightblue;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.para-lu {
    color: rgb(2, 198, 2);
    text-align: center;
    font-size: 20px;
}

.para-copy {
    color: white;
    font-size: 30px;
}

.header-css {
    display: flex;
    background-color: #052F5F;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 5px 5px 5px lightblue;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    min-height: 2em;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
	color: white;
	text-decoration: none;
}

li {
    display: inline-block;
    padding: 30px;
}

a:hover {
    color: #75B09C;
}

a:active {
    color: #D8F793;
}

main {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    background-color: #F9E7E7;
}

h1 {
    color:#A0CA92;
}